/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/indigo-pink.css';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
body{
    width:100%;
}
form{
    background-color:rgb(247,247,247);
}
.container, .header{
    width:90%;
    margin-left: auto;
    margin-right: auto;
}
.fieldGroup{
    width:100%;
}
.contactInput > mat-form-field{
    width:48%;
}
.contactInput > mat-form-field:nth-child(odd){
    margin-left:4%;
}
.addressInput > mat-form-field{
    width:100%;
}
.threeInput > mat-form-field{
    width:30%;
}
.threeInput > mat-form-field:nth-child(even){
    margin-left:5%;
    margin-right:5%;
}
.formGroup{
    width:47%;
    display:inline-grid;
    padding-bottom: 1em;
}
.formGroup{
    margin-left:2%;
}
.checkBox{
    word-wrap: break-word;
    width:45%;
}
.boxes > mat-form-field{
    padding-top:1em;
    width:100%;
}
.header{
    padding:2em;
}
.logo{
    max-width:20%;
}
.title{
    color:rgb(26,35,122);
    display:block;
    font-size:1.5em;
    padding-top: 1em;
    padding-bottom:1em;
}

mat-icon{
    color:rgb(26,35,122);
}
table{
    width:100%;
}
button, a{
    width:20%;
    background-color: rgb(26,35,122)!important;
    color:rgb(247,247,247)!important;
    float:right;
    margin-top:1em !important;
}
button:nth-child(odd){
    margin-left: 1em;
}
.back{
    width:10%;
    background-color: rgb(158, 14, 14)!important;
}
th.mat-header-cell {
    color:rgb(26,35,122);
    background-color:rgb(247,247,247);
}
td.mat-cell, td.mat-footer-cell, th.mat-header-cell {
    padding: 5px!important;
    text-align:center!important;
}